@import "node_modules/bootstrap/scss/functions";

// scss-docs-start color-variables
$indigo: #223575 !default;
$pink: #dc4980 !default;
$pink-100: tint-color($pink, 80%) !default;
$pink-600: shade-color($pink, 20%) !default;
$pink-900: shade-color($pink, 80%) !default;
// scss-docs-end color-variables
$primary: $indigo !default;
$light: $pink-100 !default;
$secondary: $pink-600 !default;
$dark: $pink-900 !default;

$custom-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
);
@import "node_modules/bootstrap/scss/variables";
$theme-colors: map-merge($theme-colors, $custom-colors);
$body-bg: $indigo-100;
@import "node_modules/bootstrap/scss/bootstrap";
// etc
html {
  height: 100%;
}

body {
  height: 100%;
}
